<main class="main">
  
  <h1 class="title has-text-centered">Welcome to post board</h1>

  <app-loader *ngIf="loading$ | async" />

  <app-note-dialog 
    *ngIf="showDialog$ | async" 
    (closeClicked)="closeDialog()" 
    (createNoteClicked)="createNote($event)"
  />

  <div class="content columns">    

    <ng-container *ngIf="notes$ | async as notes">

      <div class="column is-one-quarter">
        <app-note-card-wrapper>
          <legend>Add new note...</legend>
          <p 
            title="click me to add new note" 
            class="add-new-note" 
            (click)="showDialog()"
          >
            &#x2612;
          </p>
        </app-note-card-wrapper>        
      </div>

      <div class="column is-one-quarter" *ngFor="let note of notes">
        <app-note-card [note]="note" />
      </div>      
    </ng-container>
  </div>

</main>